﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Logistics</title>
    <script src="//code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script>
        // Set render interval
        var dummy = setInterval(render, 16);  // ~ 60 fps

        function render() {
            $.get('/api/visuals', function (data) {
                var mapCanvas = document.getElementById("mapCanvas");
                var map = mapCanvas.getContext("2d");

                // Empty canvas
                map.fillStyle = "#FFFFFF";
                map.fillRect(0, 0, 900, 600);

                // Paint canvas

                var yellowCarImage = document.getElementById("yellowCarImage");
                var blueCarImage = document.getElementById("blueCarImage");
                var buildingImage = document.getElementById("buildingImage");
                var passengerImage = document.getElementById("passengerImage");

                $.each(data, function (i, v) {
                    map.beginPath();

                    if (v.Type == '1' || v.Type == '2') {  // Car
                        var carImage;

                        if (v.Type == '1') {  // Coupe
                            carImage = yellowCarImage;
                        }
                        else if (v.Type == '2') {  // Crazy Car
                            carImage = blueCarImage;
                        }
                        else {
                            throw ('Unknown car type');
                        }

                        if (v.Direction == 1) {  // Right
                            map.drawImage(carImage, v.XPos * 60, 600 - (v.YPos * 60) - 60);
                        }
                        else {
                            map.save();
                            map.translate(v.XPos * 60 + 60 / 2, 600 - (v.YPos * 60) - 60 + 60 / 2);

                            if (v.Direction == 2) {  // Left
                                map.rotate(Math.PI);
                            }
                            else if (v.Direction == 3) {  // Up
                                map.rotate(-Math.PI / 2);
                            }
                            else if (v.Direction == 4) {  // Down
                                map.rotate(Math.PI / 2);
                            }

                            map.drawImage(carImage, -60 / 2, -60 / 2, 60, 60);
                            map.restore();
                        }
                    }
                    else if (v.Type == '3') {  // Passenger
                        map.save();
                        map.translate(v.XPos * 60 + 60 / 2, 600 - (v.YPos * 60) - 60 + 60 / 2);
                        map.drawImage(passengerImage, -25 / 2, -25 / 2, 25, 25);
                        map.restore();
                    }
                    else if (v.Type == '4') {  // Passenger Destination
                        map.strokeStyle = '#black';
                        map.arc(v.XPos * 60 + 60 / 2, 600 - (v.YPos * 60 - 60 / 2) - 60, 60 / 5, 0, 2 * Math.PI);
                        map.fillStyle = '#75C13A';
                        map.fill();
                    }
                    else if (v.Type == '5') {  // Building
                        map.save();
                        map.translate(v.XPos * 60 + 60 / 2, 600 - (v.YPos * 60) - 60 + 60 / 2);
                        map.drawImage(buildingImage, -54 / 2, -54 / 2, 54, 54);
                        map.restore();
                    }

                    map.stroke();
                });
            }, 'json');
        }
    </script>
</head>
<body>
    <canvas id="mapCanvas" width="900" height="600" style="border:1px solid #000000;"></canvas>
    <div style="display:none;">
        <img id="yellowCarImage" src="/images/car-yellow.png" width="60">
        <img id="blueCarImage" src="/images/car-blue.png" width="60">
        <img id="buildingImage" src="/images/building.png" width="54">
        <img id="passengerImage" src="/images/passenger.png" width="25">
    </div>
</body>
</html>